@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
    background-color: #FFFFFF;
    color: #322e2e;
}


.scroll-hide::-webkit-scrollbar {
    display: none;
}

.scroll-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

:focus {
    outline: none;
    box-shadow: none !important;
}

.ring,
.ring-offset,
.ring-inset {
    box-shadow: none !important;
}